#root .game_form{
    height: 820px;
}

.game_form textarea{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 3%;
}

.img_input_with_btn{
    display: flex;
    width: 100%;
}

.img_input_with_btn button{
    margin-left: 3%;
}

.img_input_with_btn input{
    width: 40%;
    margin-right: 0;
    margin-bottom: 2.5%;
}

.img-preview_form {
    /* width: 20%; */
    margin-left: 20%;
    padding: 5px
}

.img-preview_form img{
    width: 200px;
    max-height: 95%;
    margin-right: 5px;
    box-sizing: border-box;
}

.dummy_div{
    width: 200px;
    max-height: 95%;
    margin-right: 5px;
    box-sizing: border-box;
    color: #171a21
}

.img-preview_form img:hover{
    box-shadow: 0px 0px 5px red;
   cursor: pointer;
}

#edit_submit_btn{
    margin-top: 5%;
}
