.previewImage{
    width: 20%;
    cursor: pointer;
}

.gamepage{
    width: 100%;
    font-family: 'Duru Sans', sans-serif;
}

.gamePage_Title{
    margin-left: 15%;
    font-size: 40px;
    margin-top: 2%;
}

.gamePage_cameCard{
    width: 70%;
    display: flex;
    background-color: #171a21;
}

.gamePage_mainImg{
    width: 100%
}

.gamePage_sideImg{
    width: 100%;
    margin-bottom: 5%;
}

.img_container_mainPage{
    width: 200%;
    margin-right: 15px;
}

.gamePage_main_Info_container{
    width: 80%
}

.gamePage_description{
    margin-bottom: 12%;
}

.small_info_contaner{
    display: flex;
    justify-content: flex-start;
}

.small_info_contaner > div {
    margin: 0 0
}

#small_actual_info{
    margin-left: 20%;
}

.small_info_contaner >div > div{
    margin-bottom: 10px;
}

.purchase_button{
    background: linear-gradient(to bottom, #799905 5%, #536904 95%);
    color: #D2E885;
    font-size: 16px;
    border-radius: 3px;
    border: 0;
    padding: 7px;
    opacity: .8;
}

.purchase_button:hover{
    opacity: 1;
    cursor: pointer;
}

.purchase_container{
    margin-left: 15%;
    margin-top: 3%;
    width: 49%;
    background: linear-gradient(-60deg, rgba(226,244,255,0.3) 5%, rgba(84,107,115,0.3) 95%);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.purchase_container > *{
    margin: 0 0;
}

.purchase_buttons_container{
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    background-color: black;
    align-items: center;
    width: fit-content;
    align-self: center;
    margin-right: 2%;
}

.purchase_buttons_container *{
    margin: 0 0;
}

.buy_title{
    align-self: flex-start;
    margin-right: auto;
    font-size: 25px;
    margin-top: 1%;
    margin-left: 1%;
}

.button_price{
    padding: 7px;
}

#game_in_library{
    background: linear-gradient(to bottom, #799905 5%, #536904 95%);
    color: #D2E885;
    border-radius: 3px;
    border: 2px solid black;
    opacity: .8;
    padding: 10px;
    cursor: pointer;
}

#game_in_library:hover{
    opacity: 1;
}
