.footer_container{
     position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #171a21;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_container * {
    margin: 0 0;
}

.footer_container a{
    margin-left: 10px;
    margin-right: 10px;
}
