.gameLibraryContainer{
    width: 40%;
    display: flex;
    flex-direction: column;
    font-family: 'Duru Sans', sans-serif;
}

.game_library_card_main_img{
    width: 30%;
}

.game_library_card{
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    padding:10px;
    background-color: #171a21;
    width: 100%;
}

.game_library_card * {
    margin: 0 0;
}

.game_library_card_title{

    font-size: 30px;
}

.game_info_library_card{
    align-self: flex-start;
    margin-left: 10px;
}

.main_title_library{
    margin-left:0%;
    font-size: 35px;
    margin-bottom: 5px;
}

.library_buttons_container{
    margin-top: 2.5%;
}

.library_buttons_container button{
    margin-right: 10px;
}

.hiddenGame{
    background-color: #171a21;
    width: 100%;
    margin: 0 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hiddenGame * {
    margin: 0 0;
}

.fa-plus-circle{
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}
